<%- include("layout/header.ejs") %>
<%- include("layout/bodyWrapper.ejs") %>
<h2 class="mb-4">Hiii.... <%= user %>!!!</h2>

<div class="row">

    <div class = "col-md-4">
        <ul class="list-group">
           <%
             
           if(users.length>0){
            for(let i = 0;i<users.length;i++){
                %>
                 <li class="list-group-item list-group-item-dark cursor-pointer user-list" data-username="<%= users[i]['username'] %>">
                    <%=users[i]['username'] %>
                    <%
                    if(users[i]['isOnline']=="1") {
                        %>
                        <sup class = "online-status" id="<%=users[i]['username']%>-status">Online</sup>
                        <%
                    } else {
                        %>
                        <sup class = "offline-status" id="<%=users[i]['username']%>-status">Offline</sup>
                        <%
                    }
                    
                    %>
                 </li>
                <%
            }
           }


           %>
        </ul>
    </div>

    <div class="col-md-8">
        
        <h3 class = "start-head">
            Click to Start the Chat
        </h3>
        <div class="chat-section">
            <div id="chat-container"> 
               
            </div>
            <form action="" id="chat-form">
                <input type="text" name="message" placeholder="Enter message" id="message" class="border" required>
                <input type="submit" value="send Message" class="btn btn-primary">
            </form>

        </div>

    </div>

</div>

<script>

    var sender = '<%= user %>';
    var receiver;
    var socket = io('/user-namespace',{
        auth : {
            token:'<%= user %>'
        }
    });
    $(document).ready(function(){
        $('.user-list').click(function(){
            $('.start-head').hide();
            receiver=$(this).attr("data-username")
            $('.chat-section').show();
            socket.emit("existsChat",{
                sender : sender,
                receiver : receiver,
            });
        })
    });
    socket.on('getOnlineUser',function(data){
       $('#'+data.username+"-status").text("Online");
       $('#'+data.username+"-status").removeClass("offline-status");
       $('#'+data.username+"-status").addClass("online-status");

    });
    socket.on('getOfflineUser',function(data){
       $('#'+data.username+"-status").text("Offline");
       $('#'+data.username+"-status").addClass("offline-status");
       $('#'+data.username+"-status").removeClass("online-status");
        
    });

    $('#chat-form').submit(function(event){
        event.preventDefault();

        var message = $('#message').val();

        $.ajax({
            url:"http://localhost:3000/api/chat",
            type:"POST",
            data:{sender:sender,receiver:receiver,message:message},
            success : function(data){
                if(!data.success){
                   alert("data not saved",message,sender,receiver);
                } else{
                    console.log(data);
                    $('#message').val("");
                    let chat = data.data.message;
                    console.log(chat);
                    let html = `
                    <div class="current-user-chat">
                    <h5>
                       `+chat+`
                    </h5>
                   </div>
                    `
                   $('#chat-container').append(html);
                   socket.emit('newChat',data.data)
                }
            }
        })
    });

    socket.on("loadNewChat",function(data){
        if(sender===data.receiver && receiver === data.sender){
        let html = `
        <div class="distance-user-chat">
                    <h5>
                        `+data.message+`
                    </h5>
                   </div>
                </div>  
        `
        $('#chat-container').append(html);
            }
            });
    
       
            socket.on("loadOldChats",function(data){
                   $('#chat-container').html('');
                   var chats = data.chats;
                   let html = ``;
                   for(let c = 0;c<chats.length;c++){
                       let addClass = "";
                       if(chats[c]['sender']==sender){
                        addClass = 'current-user-chat';
                       } else{
                         addClass = 'distance-user-chat';
                       }
                       html += `<div class='`+addClass+`'>
                    <h5>
                           `+chats[c]['message']+`
                    </h5>
                   </div>
                </div>  `
                   }
                   $('#chat-container').append(html);
            });
    
    
</script>

<%- include('layout/footer.ejs') %>